* {
    margin: 0;
    padding: 0;
    font-family: 16px Raleway, Arial, Verdana;
}

header {
    width: 100%;
    background-color: rgb(24, 141, 250);
    padding: 10px;
    display: inline-block;
    top: 0;
    position: fixed;
    height: 80px;
}

.logo img{
    width: 250px;
    height: 85px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover {
    color: red;
}

.texto {
    margin-top: 100px;
    text-align: center;
}

.texto h1, h3 {
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.coluna {
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
}    

.coluna img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 500px;
}

.coluna p {
    font-size: 18px;
    height: 40px;
    margin: 10px;
}

.coluna a {
    background-color: rgb(24, 141, 250);
    color: white;
    margin: 20px;
    padding: 5px 30px;
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
}

.coluna a:hover {
    color: red;
}